<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<title>样式表布局</title>
	<style>
		.layout {
			width: 100%;
			border-collapse: collapse;
		}
		header {
			height: 150px;
			background: #ddf;
		}
		nav {
			line-height: 32px;
			background: #dff;
		}
		aside {
			width: 260px;
			height: 500px;
			background: #dfd;
			float: right;
		}
		section {
		}
		footer {
			clear: both;
			height: 50px;
			background: #ffd;
		}
	</style>
</head>
<body>
	<h2>样式布局</h2>
	<header>header</header>
	<nav>navigator</nav>
	<aside>aside</aside>
	<section>content</section>
	<footer>footer<footer>
</body>
</html>